<%- include('header', {title: `Add note`}); -%>
  <div class="block p-6 rounded-lg bg-white max-w-md">
  <form autocomplete="off" action="/note" method="POST">
    <h2 class="text-lg">Bird Sighting</h2>
  <p>Share your sightings with us!</p>
  <br/>
 <label for="date" class="label">Date</label>
      <div class="relative">
      <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
      </div>
      <input id="date" name="date" datepicker type="text" class="form-control input" placeholder="MM/DD/YYYY">
      </div>
      <br/>
<label for="time" class="label">Time</label>
      <div class="flex justify-left">
      <div class="timepicker relative mb-3 w-full">
    <input type="text" name="time"
      class="form-control input"
      placeholder="HH:MM AM/PM" />
  </div>
      </div>
      <br/>
<div class="form-group mb-6">
      <label class="label" for="photo_url">Photo URL</label>
      <input type="text" name="photo_url" class="form-control input" id="exampleInput7"
        placeholder="Photo URL">
    </div>
    <div class="form-group mb-6">
      <label for="flock_size" class="label">Flock size</label>
      <input type="number" class="form-control input" id="exampleInput7" name="flock_size"
        placeholder="Flock size">
    </div>

    <label for ="species" class="label">
  Species
  <select name="species" class="form-select appearance-none
      block
      w-full
      px-3
      py-1.5
      text-sm
      font-normal
      text-gray-700
      bg-white bg-clip-padding bg-no-repeat
      border border-solid border-gray-300
      rounded
      transition
      ease-in-out
      m-0
      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" aria-label="Default select example">
    <option value="" disabled selected hidden>Select species</option>
  <% species.forEach((item) => { %>
    <option value="<%= item.id %>"><%= item.species_name %></option>
    <% }); %>
  </select>
</label>
<br/>

      <label for ="behaviour" class="label">
  Behaviour
  <select name="behaviour" class="form-multiselect block w-full mt-1 input" multiple>
<% actions.forEach((item) => { %>
    <option value="<%= item.id %>"><%= item.actions %></option>
    <% }); %>
  </select>
</label>

<br/>
    <button type="submit" class="btn">Submit</button>
    </div>
    
  </form>
  </body>
