<%- include('header', {title: `Home`}); -%>
<div class="flex justify-center my-10">
  <div class="rounded-lg shadow-lg bg-white max-w-sm">
      <img class="rounded-t-lg w-full" src="<%= ejsData[0].photo_url%>" alt=""/>

    <div class="p-6">
      <h5 class="text-gray-900 text-xl font-medium mb-2">Bird <%=ejsData[0].id%></h5>
      <p class="text-gray-700 text-base">
        Flock size:
      </p><p class="text-gray-700 text-base mb-4">
        <%= ejsData[0].flock_size%>
      </p><p class="text-gray-700 text-base">
        Habitat:
      </p>
      <p class="text-gray-700 text-base mb-4">
        <%=ejsData[0].habitat%>
      </p>
      
      <div class="flex flex-wrap justify-left space-x-2">
        <% ejsData.forEach((data) => { %>
        <span class="px-4 py-2 rounded-full text-gray-500 bg-gray-200 font-semibold text-xs flex align-center w-max cursor-pointer active:bg-gray-300 transition duration-300 ease mb-2"><%= data.actions %></span>
      <% }); %>
        </div>
      <br>

      <button type="button" class=" btn">Edit</button>
    </div>
  </div>
</div>
</body>
</html>