<%- include('header', {title: `View note`}); -%>
<%- include('navbar'); -%>
<div class ="grid grid-cols-1 md:grid-cols-2">
<div class="flex justify-center my-10">
  <div class="rounded-lg shadow-lg bg-white max-w-sm">
      <img class="rounded-t-lg w-full" src="<%= ejsData.photo_url%>" alt=""/>

    <div class="p-6">
      <h5 class="text-gray-900 text-xl font-medium mb-2"><%=ejsData.species_name%></h5>
      <p class="text-gray-700 text-base">
        Flock size:
      </p><p class="text-gray-700 text-base mb-4">
        <%= ejsData.flock_size%>
      </p><p class="text-gray-700 text-base">
        Scientific name:
      </p>
      <p class="text-gray-700 text-base mb-4">
        <%=ejsData.scientific_name%>
      </p>
      
      <div class="flex flex-wrap justify-left space-x-2">
        <% ejsData.actions.forEach((data) => { %>
        <span class="px-4 py-2 rounded-full text-gray-500 bg-gray-200 font-semibold text-xs flex align-center w-max cursor-pointer active:bg-gray-300 transition duration-300 ease mb-2"><%= data %></span>
      <% }); %>
        </div>
      <br>
      
    <button type="button"
      class="btn">
      Edit
    </button>
    </div>
  </div>
</div>

<!-- Comments section -->
<div class="flex justify-center my-10 mr-10">
<ol class="relative border-l border-gray-200 dark:border-gray-700">
  <% ejsData.comments.forEach((data) => { %>                  
    <li class="mb-10 ml-6">
        <span class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-blue-200 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
        </span>
        <div class="w-96 p-4 bg-white rounded-lg border border-gray-200 shadow-sm dark:bg-gray-700 dark:border-gray-600">
            <div class="justify-between items-center mb-3 sm:flex">
                <time class="mb-1 text-xs font-normal text-gray-400 sm:order-last sm:mb-0">2 hours ago</time>
                <div class="text-sm font-normal text-gray-500 lex dark:text-gray-300">User <%= data.user_id %> commented on  <a href="/note/<%= data.notes_id %>" class="font-semibold text-gray-900 dark:text-white hover:underline">Note <%= data.notes_id %></a></div>
            </div>
            <div class="p-3 text-xs italic font-normal text-gray-500 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-600 dark:border-gray-500 dark:text-gray-300"><%= data.comment %></div>
        </div>
    </li>
    <% }); %>
    <li class="mb-10 ml-6">
        <span class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-blue-200 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
        </span>
        <div class="p-4 bg-white rounded-lg border border-gray-200 shadow-sm dark:bg-gray-700 dark:border-gray-600">
            <textarea class="w-full p-3 text-xs italic font-normal text-gray-500 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-600 dark:border-gray-500 dark:text-gray-300" placeholder="Leave your comment here"></textarea>
            <br/>
            <button type="button" class="py-2 px-3 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Leave a comment</button>
        </div>
    </li>
</ol>
</div>
</div>

</body>
</html>